.ContactUsDiv {
    width: 100%;
    height: 100vh;
    
    padding-top: 23rem;

    display: flex;

    .ContactUsLeftBlock {
        width: 53%;

        & > img {
            margin-bottom: 6.5rem;
        }

        & > p {
            font-size: 2.4rem;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            color: #fff;
            font-weight: 300;

            max-width: 65rem;

            margin-bottom: 3rem;
        }

        .Contacts {
            margin-top: 7rem;

            & > h3 {
                font-size: 3.6rem;
                font-family: 'Aladin', sans-serif;
                text-transform: uppercase;
                color: #b589e0;
    
                max-width: 58.5rem;

                margin-bottom: 1.5rem;
            }

            & > p {
                font-size: 2.4rem;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                color: #fff;
                font-weight: 300;

                margin-bottom: 6rem;
            }

            .Phone {
                & > p {
                    font-size: 2.4rem;
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 700;

                    margin-bottom: 6rem;
                    margin-left: 10rem;

                    position: relative;

                    &::before {
                        content: '';
                        top: 0;
                        left: -10rem;
    
                        position: absolute;
                
                        width: 5rem;
                        height: 5rem;
                    
                        background: url(../../Imgs/ContactUs/Phone.svg) no-repeat;
                    }
                }
            }
    
            .Email {
                & > p {
                    font-size: 2.4rem;
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 400;
                    margin-left: 10rem;

                    position: relative;

                    &::before {
                        content: '';
                        top: -.5rem;
                        left: -10rem;
    
                        position: absolute;
                
                        width: 5rem;
                        height: 5rem;
                    
                        background: url(../../Imgs/ContactUs/Email.svg) no-repeat;
                    }
                }
            }
        }
    }

    .ContactUsRightBlock {
        & > h1 {
            font-size: 6.4rem;
            font-family: 'Aladin', sans-serif;
            color: #ffdd65;
            text-transform: uppercase;

            position: relative;

            margin-bottom: 10rem;

            &::before {
                content: '';
            
                bottom: -4rem;
                left: 2.5rem;
                position: absolute;
            
                width: 4.4rem;
                height: .4rem;
            
                background-color: #B589E0;
                border-radius: 20%;
            }

            &::after {
                content: '';
            
                bottom: -4.8rem;
                left: 0;
                position: absolute;
            
                width: 7.9rem;
                height: .4rem;
            
                background-color: #5CA7FF;
                border-radius: 20%;
            }

            & > div::before {
                content: '';
            
                bottom: -5.6rem;
                left: .5rem;
                position: absolute;
            
                width: 1.9rem;
                height: .4rem;
            
                background-color: #B589E0;
                border-radius: 20%;
            }
        }

        .inputName {
            display: block;
            width: 55rem;
            height: 6rem;

            margin-bottom: 1.5rem;
            padding: 0 1rem 0 1rem;

            font-size: 1.5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
        }

        .inputEmail {
            display: block;
            width: 55rem;
            height: 6rem;

            margin-bottom: 1.5rem;
            padding: 0 1rem 0 1rem;

            font-size: 1.5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
        }

        .inputCompany {
            display: block;
            width: 55rem;
            height: 6rem;

            margin-bottom: 1.5rem;
            padding: 0 1rem 0 1rem;

            font-size: 1.5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
        }

        .inputTextArea {
            display: block;
            width: 55rem;
            height: 20rem;

            padding: 1rem;
            margin-bottom: 1.5rem;
            
            resize: none;

            font-size: 1.5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
        }

        .submitBtn {
            padding: 3rem 12rem;

            font-size: 2rem;
            font-family: 'Aladin', sans-serif;
            font-weight: 500;
            color: #fff;
            text-transform: uppercase;

            cursor: pointer;

            background: #5ca7ff;
        }
    }
}